.markdown-section code, .markdown-section pre 
{
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    direction: ltr;
    margin: 0;
    padding-top: 3pt;
    padding-bottom: 3pt;
    border: none;
    color: inherit;
    line-height: normal;     
}

.markdown-section code
{
    font-size: 100%;
}


.markdown-section pre 
{
    border-left-width: 1pt;
    border-left-style: solid;
    border-left-color: #c0c0c0;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
    display: block;
    padding: 3px 3px;
    border-bottom: none;
    color: #000000;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}


.book.font-family-1 {
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.markdown-section h1 {
    font-size: 3em;
    font-weight: lighter;
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}