.markdown-section code, .markdown-section pre 
{
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    direction: ltr;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    line-height: normal;
}

