.markdown-section code, .markdown-section pre 
{
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    direction: ltr;
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    line-height: normal;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
    display: block;
    padding: 3px 15px;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.book.font-family-1 {
    font-family: "Consolas", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}